<h2>CRUD for posts</h2>

<div>
    <h2>New Post</h2>
    <input [(ngModel)]="newPost.title" />
    <input [(ngModel)]="newPost.content" />
    <button (click)="createNewPost()">Create</button>
</div>

<ul>
    
    <li *ngFor="let p of posts$ |async">
        <div>
            
            <div>{{p.id}} {{p.title}} {{p.content}}</div>
            <button (click)="editPost(p)">Edit</button>
            <button (click)="delete(p)">Delete</button>
        </div>
    </li>

</ul>

<div *ngIf="postToEdit">
    <input [(ngModel)]="postToEdit.id" />
    <input [(ngModel)]="postToEdit.title" />
    <input [(ngModel)]="postToEdit.content" />
    <button (click)="saveEdits()">Save</button>
</div>